.carouselContainer {
    background-color: rgba(194, 154, 76, 0.7); 
}

.carouselTrack {
    width: calc(100% * 2);
    animation: scroll 10s linear infinite;
}

.carouselItem {
    flex: 0 0 16.666666%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 360px) and (max-width: 740px) {
    .carouselItem {
        flex: 0 0 25.666666%;
    }
}
