.CBContainer {
    bottom: 3%;
    height: 18%;
}

@media (min-width: 768px) and (max-width: 1100px) {
    .CBContainer {
        height: 25%;
    }   
}

@media (min-width: 595px) and (max-width: 768px) {
    .CBContainer {
        height: 24%;
    }   
}