@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.backgroundVideo {
    position: fixed; /* or absolute */
    right: 0;
    bottom: 0;
    min-width: 100vh;
    min-height: 100vh;
    width: auto; 
    height: auto;
    z-index: -100; /* Ensure it stays in the background */
    background-size: cover;
    filter: blur(5px); /* Adjust the blur level as needed */
    -webkit-filter: blur(5px);
  }
  
  .herocontainer{
    height: calc(100vh);
  }

  .Herotext {
    color: var(--Primary-Font-Color, rgba(194, 154, 76, 0.9));
    font-family: Inter,sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1.5);
  }

  .offerButton:hover{
    animation: glow 1s ease-in-out infinite alternate;
  }


  .offerBackground {
    position: relative;
  }
  
  .offerBackground::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/OfferBackground.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
  }
  
  .offerText {
    position: relative;
    z-index: 1; 
  }

  .centerplaceholder ::placeholder {
    text-align: center !important;
}


  @keyframes glow {
    0% {
      box-shadow: 0 0 5px #CCAD7E, 0 0 10px #CCAD7E, 0 0 15px #CCAD7E, 0 0 20px #CCAD7E;
    }
    50% {
      box-shadow: 0 0 10px #CCAD7E, 0 0 20px #CCAD7E, 0 0 30px #CCAD7E, 0 0 40px #CCAD7E;
    }
    100% {
      box-shadow: 0 0 5px #CCAD7E, 0 0 10px #CCAD7E, 0 0 15px #CCAD7E, 0 0 20px #CCAD7E;
    }
  }