h1 {
    -webkit-text-fill-color: transparent; /* Makes the text inside transparent */
    -webkit-text-stroke: 2px #CCAD7E;
    animation: 2s pulsate infinite;
    font-family: Arial, sans-serif;
  }
  
@keyframes pulsate {
  0%, 100% {
    text-shadow: 0 0 8px rgba(194, 154, 76, 0.6);
  }
  50% {
    text-shadow: 0 0 15px rgba(194, 154, 76, 0.6);
  }
}

h2 {
  -webkit-text-fill-color: transparent; /* Makes the text inside transparent */
  -webkit-text-stroke: 2px #CCAD7E; /* 1px stroke width and #CCAD7E as the stroke color */
  animation: 2s pulsate infinite;
  font-family: Arial, sans-serif;
}

h2:hover{
  cursor: pointer;
}